<h1> Here is a list of the restaurants</h1>

  <% @restaurants.each do |restaurant| %>
<ul>
  <li>Name: <%= restaurant.name %> </li>
  <li>Address: <%=restaurant.address %> </li>
</ul>

  <% end %>

  <%= link_to 'New Restaurant', new_restaurant_path %>
